.info {
    font-size: 1.75rem;
}

.name {
    font-size: 4.5rem;
    color: rgb(255, 255, 0);
}

.greeting {
    font-size: 3rem;
}

.textContainer {
    color: white;
    margin-top: 10rem;
    margin-left: 5rem;
    width: 40rem;
}

@media (max-width: 1200px) {
    .textContainer {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 60rem;
    }

    .info {
        font-size: 3rem;
    }

    .name {
        font-size: 6rem;
    }

    .greeting {
        font-size: 4rem;
    }
}