.info {
    font-size: 1.75rem;
}

.name {
    font-size: 4.5rem;
    color: #A5E697;
}

.greeting {
    font-size: 3rem;
}

.textContainer {
    color: white;
    margin-top: 10rem;
    margin-left: 5rem;
    width: 40rem;
}

.wireframe-link{
    font-size: 0.7rem;
    margin-top: 1rem;
}

@media (max-aspect-ratio: 1/1) {
    .textContainer {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 60rem;
    }

    .info {
        font-size: 3rem;
    }

    .name {
        font-size: 6rem;
    }

    .greeting {
        font-size: 4rem;
    }

    .wireframe-link {
        font-size: 2rem;
        
    }
}