.contact-container {
    background-color: rgb(46, 46, 46);
    display: flex;
    flex-direction: column;
    border: 2px white;
    border-style: solid;
    border-radius: 10%;
    width: 25rem;
    margin-left: auto;
    margin-right: 10rem;
    margin-top: 8rem;
    height: 30rem;
}

.contact-title{
    text-align: center;
    color: white;
    margin-top: 1rem;
    font-size: 2rem;
}

.link-container {
    margin-top: 1rem;
    text-align: center;
    padding-left: 6rem;
}

.link-item {
    margin-left: auto;
    margin-right: auto;
}


.link-name {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0.5rem;
}

.link {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 2rem;
}

.contact-icon {
    width: 4rem;
    height: 4rem;
}

.link-set {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;

}

.contact-link {
    display: flex;
    flex-direction: row;
}
