.contact-container {
    display: flex;
    flex-direction: column;
    border: 2px white;
    border-style: solid;
    border-radius: 10%;
    width: 25rem;
    margin-left: auto;
    margin-right: 10rem;
    margin-top: 5rem;
}

.contact-title{
    text-align: center;
    color: white;
    margin-top: 5rem;
    font-size: 2rem;
}

.link-container {
    margin-top: 3rem;
    text-align: center;
}

.link-item {
    margin-left: auto;
    margin-right: auto;
}


.link-name {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 1rem;
}

.link {
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 2rem;
}