.email-container {
    margin-top: 2rem;
}

.email-title {
    color: white;
    font-size: 4rem;
    text-align: center;
}

@media (max-aspect-ratio: 1/1) {
    .email-title {
        font-size: 6rem;
    }
    .email-container{
        margin-top: 15rem;
    }
}