.emailForm {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    background-color: white;
    border-radius: 10%;
    height: 35rem;
    padding: 4rem;
    padding-top: 2rem;
    color: #1B0322;
}

.label-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: auto;
}

label {
    font-size: 2rem;
} 

.email-input {
    height: 4rem;
    width: 25rem;
    border: none;
    outline: black solid 1px;
    border-radius: 10rem;
    padding-left: 25px;
    color: #000000;
    background: #ffffff;
    font-size: 1.3rem;
}


    
    
.button-41 {
    background-color: initial;
    background-image: linear-gradient(-180deg, #22031A, #1B0322);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.2rem 0.4rem;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 3rem;
    line-height: 2.6rem;
    outline: 0;
    overflow: hidden;
    padding: 0 1.2rem;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    z-index: 9;
    border: 0;
    margin-top: 1rem;
}
    
.button-41:hover {
    background: #1B0322;
}


.my-email {
    font-size: 1.5rem;
    padding: 1rem;
}