.menu-toggle {
    display: none; /* Hide menu toggle by default */
    flex-direction: column;
    cursor: pointer;
  }
  
.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.3s;
}
  
.bar-active {
    background-color: #f1f1f1; /* Change color when active */
    transform: rotate(45deg); /* Example of rotation effect */
 }

@media (max-aspect-ratio: 1/1) {
    @media (max-width: 768px) {
        .menu-toggle {
          display: flex; /* Show menu toggle on small screens */
        }
      
        .nav-links2 {
          display: none; /* Hide nav links by default on small screens */
          flex-direction: column;
          position: absolute;
          top: 60px; /* Adjust based on navbar height */
          right: 0;
          background-color: #333;
          width: 100%;
          text-align: center;
        }
      
        .nav-links.active {
          display: flex; /* Show nav links when menu is toggled */
        }
      
        .link-props2 {
          margin: 15px 0;
        }
      }
}