.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 1rem;
    margin-left: 5rem;
  }
  
  .navbar-left .logo {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-right .nav-links {
    font-size: 1.5rem;
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0rem;
  }
  
  .navbar-right .nav-links li {
    margin-right: 7.5rem;
  }
  
  .navbar-right .nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0rem;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    text-wrap: nowrap;
  }
  
  
  


@media (max-aspect-ratio: 1/1) {
  .navbar {
    height: 7vh;
  }
  .link-props {
    font-size: 3rem;
  }
  .navbar-left .logo {
    font-size: 5rem;
  }
  
}