.sk-title{
    color: #A5E697;
    font-size: 2.5rem;
}

.skill-icon {
    width: 6rem;
    height: 6rem;
    margin-left: auto;
    margin-right: auto;
}

.img-container {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1rem;
}

.caption {
    /* position: absolute; */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.25rem;
    
    margin-right: auto;
}

.textAligner {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media (max-aspect-ratio: 1/1) {
    .skill-icon{
        width: 12rem;
        height: 12rem;
    }

    .caption {
        font-size: 4rem;
    }

    .sk-title {
        font-size: 6rem;
    }
}