.col-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 5rem;
}
.column {
    flex: 1;
    margin: 0 5rem;
    padding: 2rem;
    text-align: center;
    border: white 1px solid;
    border-radius: 10px;
    margin-bottom: 10rem;
    
}

.sk-title{
    color: white;
    font-size: 2.5rem;
}

.skill-icon {
    width: 6rem;
    height: 6rem;
}

.img-container {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1rem;
}

.caption {
    /* position: absolute; */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.25rem;
    
    margin-right: auto;
}

.container {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.textAligner {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

@media (max-aspect-ratio: 1/1) {
    .column {
        flex-direction: row;
        flex: initial;
        margin-left: auto;
        margin-right: auto;
        padding: initial;
        text-align: center;
        margin-top: 10rem;
        border: white 1px solid;
        border-radius: 10%;

    }
    .col-container {
        flex-wrap: wrap;
        margin-bottom: 30rem;
    }
    .row {
        margin-left: auto;

        width: 70vw;
    }

}