.sk-title{
    color: white;
    font-size: 2.5rem;
}

.skill-icon {
    width: 6rem;
    height: 6rem;
}

.img-container {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1rem;
}

.caption {
    /* position: absolute; */
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.25rem;
    
    margin-right: auto;
}

.textAligner {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}